[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "~=1.7.0"
motor = "==2.4.0"
wikipedia = "==1.4.0"
aiohttp = "==3.7.4.post0"
dnspython = "==2.1.0"
jishaku = "==2.0.0"
python-dotenv = "==0.18.0"
loguru = "*"

[dev-packages]
flake8 = "~=3.9.2"
pylint_runner = "0.6.0"

[requires]
python_version = "3.8"

[scripts]
start = "python bot/main.py"
lint = "pylint_runner"
flake8 = "python -m flake8 --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --format='::error file=%(path)s,line=%(row)d,col=%(col)d::[flake8] %(code)s: %(text)s' --show-source"
